/* Design interface */
/* w/ help from Annaliese 4.18*/

html {
    height: 100vh;
    margin: 0 20%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input {
    background: #999999;
    color: black;
    border: none;
    font-family: monospace;
    font-size: 16pt;
}

textarea {
    resize: none;
    width: 60vw;
    height: 20vh;
    order: 1;
}

button {
    border-radius: 2pt;
    background-color: lightcoral;
}

h1, h2 {
    text-align: center;
}

#chat-window {
    display: grid;
    grid-template-rows: auto auto;
}

#chat-login {
    order: 1;
}

#nameBox{
    padding: 5%;
    border-radius: 10pt;
    background: #222222;
    color: #ffffff;
    position: relative;
    top: 50%;
    width: 50vw;
    font-family: monospace;
}

#nameBox > b{
    text-align: left;
    font-size: 16pt;
}



#nameEntry {
    width: 50%;
}



#chatForm {
    order: 2;
    position: relative;
    top: 40vh;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 2vw;
}

#sendBtn {
    order: 2;
}


/* Create media query */

@media only screen and (max-width: 1024px) {
    
}