/* Design interface */

html {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: auto auto;
}

body {
    background: #999999;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

main {
    display: grid;
    grid-template-rows: 10vh 60vh 20vh;
    height: 100vh;
    grid-gap: 2vh;
}

h1 {
    text-align: center;
    order: 1;
}
h1 > b{
    background: #999999;
    padding: .5vw;
}
textarea {
    width: 70vw;
    height: 10vh;
}

button {
    border-radius: 2pt;
    background-color: lightcoral;
    font-size: large;
}

#chat-window {
    overflow-y: scroll;
    animation: .15s;
    width: 80vw;
    padding-left: 2%;
    padding-right: 5%;
    order: 2;
    margin: 0 auto;
    background-color: #222222;
    color: white;
}

#nameBox{
    border-radius: 10pt;
    background: #555555;
    color: #ffffff;
    font-family: monospace;
    position: relative;
    top: 20%;
    margin: 10vh auto;
    height: 10vh;
    width: 20vw;
    padding: 5%;
}
  

#nameBox > b{
    text-align: left;
    font-size: 12pt;
}

#chatMgmt {
    order: 3;
}

#chatMgmt form{
    display: grid;
    height: 10vh;
    width: 80vw;
    grid-template-columns: 70vw 10vw;
    grid-gap: 2vw;
    margin: 0 auto;
}
  
/* Create media query */

@media only screen and (max-width: 1024px) {
    main {
        grid-template-columns: auto;
        grid-template-rows: 5vh 10vh 70vh;
        grid-gap: 0;
      }
    
    h1 {
        order: 1;
    }

    #chatMgmt {
        order: 2;
    }

    #chatMgmt form {
        grid-gap: 3%;
    }
    
    #chat-window {
        order: 3;
    }

    #nameBox {
        position: absolute;
        width: 70%;
        margin: auto auto;
    }
}